{% extends 'base.html' %}

{% block title %}Senha redefinida{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-header bg-success text-white">
          <h4 class="mb-0">Senha redefinida</h4>
        </div>
        <div class="card-body p-4">
          <p>Sua senha foi atualizada com sucesso. Agora você pode fazer login com a nova senha.</p>
          <a href="{% url 'login' %}" class="btn btn-primary">Ir para login</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}