<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AutoCenter - Veículos</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'core/css/style.css' %}">

</head>
<body>
  <header>
    <div class="logo">AutoCenter</div>
    <div class="menu">
      {% if user.is_authenticated %}
        <li><a href="{% url 'meu_perfil' %}">Meu Perfil</a></li>
        <li><a href="{% url 'logout' %}">Sair</a></li>
      {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'registrar' %}">Criar Conta</a></li>
      {% endif %}

      {% if user.is_vendedor %}
        <li><a href="{% url 'painel' %}">Painel de vendedor</a></li>
      {% endif %}
    </div>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>