{% extends "base.html" %}
{% load humanize %}


{% block title %}Catálogo de Veículos - AutoCenter{% endblock %}

{% block content %}
<header class="text-center mb-5">
    <h2 class="display-4 fw-bold">Veículos Disponíveis</h2>
    <p class="lead text-muted">Encontre o carro ideal para você</p>
</header>

<div class="car-grid">
    {% if veiculos %}
        {% for veiculo in veiculos %}
            <div class="car-card">
                <img src="{{ veiculo.foto_url|default:'https://via.placeholder.com/400x200.png?text=Sem+Foto' }}" alt="{{ veiculo.nome }}" class="img-fluid">
                <div class="info">
                    <h3>{{ veiculo.nome }}</h3>
                    <div class="year-price">
                        <span class="fs-6 d-flex align-items-center text-muted">📅 {{ veiculo.ano_modelo }}</span>
                        <span class="price text-success fs-5">R$ {{ veiculo.preco|floatformat:0|intcomma }}</span>
                    </div>
                    <a href="{% url 'veiculos_infos' id=veiculo.id %}" class="btn btn-primary w-100">Ver Detalhes</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-12 text-center py-5">
            <p class="lead">Nenhum veículo disponível no momento.</p>
        </div>
    {% endif %}
</div>
{% endblock %}