{% extends "base.html" %}
{% load humanize %}


{% block title %}Veículos - AutoCenter{% endblock %}

{% block content %}
<h2>Veículos Disponíveis</h2>
<p>Encontre o carro ideal para você</p>
<div class="car-grid">
  {% if veiculos %}
    {% for veiculo in veiculos %}
      <div class="car-card">
        <img src="{{ veiculo.foto_url|default:'https://via.placeholder.com/400x180' }}" alt="{{ veiculo.nome }}">
        <div class="info">
          <h3>{{ veiculo.nome }}</h3>
          <div class="year-price">
            <span>📅 {{ veiculo.ano_modelo }}</span>
            <span class="price">R$ {{ veiculo.preco|floatformat:0|intcomma }}</span>
          </div>
          <a href="{% url 'veiculo_info' id=veiculo.id %}" class="btn-details">Ver Detalhes</a>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>Nenhum veículo disponível no momento.</p>
  {% endif %}
</div>
{% endblock %}